body {
  background: #f6f2fe;
}

h1 {
  color: purple;
  font-size: 48px;
  text-decoration: underline;
  font-weight: 100;
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  margin: 20px auto;
  display: block;
  color: #885df1;
  font-size: 16px;
  background: transparent;
  padding: 15px 20px;
  border-radius: 40px;
  border: 1px solid #885df1;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.profession {
  color: blue;
}

.course {
  color: red;
}

.story {
  color: green;
}

p {
  text-align: center;
}

img {
  display: block;
  margin: 30px auto;
}
