body {
  background: #f5f0fe;
}

h1 {
  color: #885df1;
  font-size: 48px;
  text-decoration: underline;
  font-weight: 100;
  text-align: center;
}

h2 {
  text-align: center;
  color: #272044;
}

.profession {
  color: blue;
}

.course {
  color: red;
}

.story {
  color: green;
}
