h1 {
  color: purple;
  font-size: 48px;
  text-decoration: underline;
  font-weight: 100;
  text-align: center;
}

h2 {
  text-align: center;
}

.profession {
  color: blue;
}

.course {
  color: red;
}

.story {
  color: green;
}

p {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}
