body {
  font-family: Arial, sans-serif;
  background: white;
  text-align: center;
}

.container {
  margin-top: 40px;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

h1 {
  color: #2f6ce5;
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  margin-bottom: 30px;
}

.forecast {
  max-width: 300px;
  margin: 0 auto;
}

.day {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 12px;
  font-size: 18px;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #ffe5d0;
}

.bold {
  font-weight: bold;
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #2f6ce5;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #7f142f;
  box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
}

footer {
  margin-top: 30px;
  font-size: 14px;
  color: #555;
}
